<!DOCTYPE html>
<html>
  <head>
    <title>真·24K Offer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class='row'>

    <%= render 'common/navbar' %>
  </div>
  <body>

    <div class="container-fluid">
      <%= render "common/flashes" %>
      <%= yield %>

    </div>
    <div>
      <%= link_to("Return", jobs_path, :class => "btn btn-xs btn-success") %>
    </div>
    <%= render 'common/footer' %>
  </body>
</html>
